@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  
  font-family: 'Roboto', sans-serif;

}

input::placeholder {
  color: hsl(231, 7%, 60%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}